.product-item {
	background-color: gray;
	display: inline-block;
	height: 25px;
	padding: 5px;
	border-radius: 5px;
}

.amount {
	background-color: yellow;
	border-radius: 10px;
	
	display: inline-block;
	height: 20px;
	width: 20px;
	text-align: center;
}